.container {
  margin: 0 auto;
  width: 200px;
  height: 260px;
  display: flex;
  align-items: center;
  align-content: center;
  /*position: relative;*/
  border: 1px solid #ccc;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}
.card div {
  display: block;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .front {
  background: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.card .back {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background: blue;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}
.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  /*display: block;*/
}

img {
  width: 10%;
}

p {
  font-size: 15px;
}

body {
  font-family: verdana, sans-serif;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

figcaption {
  font-size: 30px;
}
